.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(23, 104, 89, 0.566);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: rgba(135, 84, 202, 0);
  }
  
  #turn {
    margin-top: 20px;
  }
  
  #reset {
    margin-top: 20px;
  }
  